@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
body, html {
  font-size: 16_3x;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*:before,*:after{ box-sizing: border-box; }*/
h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style-position: inside;
}

small {
  line-height: 1rem;
}

img {
  height: auto;
  width: 100%;
}

a {
  text-decoration: none;
}

hr {
  border: none;
  border-bottom: 1px solid #ddd;
}

/*---=====Variabili=====---*/
#main-prin {
  overflow-x: clip;
}

/*codice del header*/
/*variabili css*/
:root {
  /*--primary: #00fff7;*/
  --primary: #d1d4d4;
  --text: #ffffff;
  --bg: #0b0c10;
  --accent: #1a1a1a;
  --card-bg: #121417;
  --hover-shadow: 0 0 25px rgba(0, 255, 247, 0.1);
}

#home {
  padding: 0px 20px;
  background: linear-gradient(135deg, #1d1d1d, #2b2b2b);
  padding-bottom: 70px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #111, rgba(0, 255, 247, 0.15));
  opacity: 0.1;
  z-index: -1;
}

.magic-title {
  font-weight: 900;
  color: var(--text);
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  margin-bottom: 1rem;
  transition: all 0.3s ease;
  font-size: clamp(2rem, 5vw, 3.5rem);
}

.magic-title:hover {
  color: var(--primary);
  text-shadow: 0 0 30px var(--primary);
}

.con-h1-type {
  height: 50px;
  margin-bottom: 50px;
}
.con-h1-type .typewriter {
  font-size: clamp(2rem, 5vw, 3rem);
  color: var(--primary);
  border-right: 2px solid var(--primary);
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  margin: 0 auto;
  animation: typing 3s steps(40, end) forwards, blink 0.75s step-end infinite;
  color: transparent;
  background: rgba(255, 255, 255, 0.5);
  background-clip: text;
  -webkit-background-clip: text;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.15);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.btn {
  margin-top: 2.5rem;
  padding: 0.8rem 2.2rem;
  font-size: 1.1rem;
  color: #fff;
  background: transparent;
  border: 2px solid var(--primary);
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px var(--primary);
}

.btn:hover {
  background: var(--primary);
  color: #000;
  box-shadow: 0 0 15px var(--primary);
}

.line {
  width: 80%;
  height: 2px;
  background: linear-gradient(90deg, rgba(251, 255, 255, 0.7), transparent);
  margin-top: 3rem;
  margin-bottom: 3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Tech icons */
.tech-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.tech-icons .i-icone {
  font-size: clamp(1.9rem, 5vw, 3.9rem);
  color: #999;
  transition: color 0.3s, transform 0.3s;
}

.i-icone:hover {
  color: var(--primary);
  transform: scale(1.2);
}

/* Media queries */
@media (max-width: 768px) {
  .btn {
    padding: 0.6rem 1.8rem;
  }
  .line {
    width: 90%;
  }
  .con-h1-type {
    height: 50px;
    margin-bottom: 100px;
  }
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #333333;
  z-index: 1000;
  transition: all 0.3s ease;
}

.logo-nav {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.nav-links {
  display: flex;
  gap: 30px;
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.a-nav {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #f1c40f;
}

/* Menu Hamburger */
.menu-icon {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

.mobile-nav {
  position: fixed;
  left: -300px;
  top: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Sfondo semi-trasparente */
  width: 250px;
  transition: all 0.3s ease;
  padding: 50px 20px;
  z-index: 999;
}

.mobile-nav .a-hamburger {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 20px 0;
  transition: color 0.3s ease;
}

.mobile-nav a:hover {
  color: #5a5954;
}

/* Media Queries */
@media (max-width: 768px) {
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-icon {
    display: block;
  }
  .nav-links {
    display: none; /* Nascondi il menu di navigazione principale su mobile */
  }
}
#mobile-nav.active {
  left: 0;
}

/* ------------------------------------------Sezione Chi Sono-------------------------------------------- */
#about {
  padding: 0px 20px;
  background: linear-gradient(135deg, #1d1d1d, #2b2b2b);
  padding-bottom: 70px;
}

/*
.about_me{
  margin-bottom: 50px;
}

/*
.cont-about{
  margin-bottom: 30px;

    .h2-about {
      font-family: 'Merriweather', serif;
      font-size: 2.8rem;
      font-weight: 700;
      color: transparent; 
      background: rgba(255, 255, 255, 0.5); 
      background-clip: text; 
      -webkit-background-clip: text;
      letter-spacing: 1px;
      text-transform: uppercase;
      line-height: 1.2;
      text-shadow: 
      0 4px 6px rgba(0, 0, 0, 0.2), 
      0 1px 3px rgba(0, 0, 0, 0.15); 
      font-size: clamp(1.5rem, 2vw, 3.5rem);
    }

    .p-about{
      font-size: 17px;
      line-height: 1.4; 
    }

}*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*body {
  font-family: 'Inter', sans-serif;
  background-color: #121212;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  height: 100vh;
  overflow-x: hidden;
  flex-direction: column;
}*/
.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  z-index: 1;
}

/* Navbar fissa con sfondo trasparente */
/*nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px 40px;
  z-index: 100;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  transition: background-color 0.3s ease;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #79a8f8;
  font-size: 1.2rem;
  font-weight: 600;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #fff;
  border-bottom: 2px solid #79a8f8;
  padding-bottom: 5px;
}*/
/* Sezione "Chi Sono" */
#about_1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 60px;
  /*align-items: center;*/
  /*padding-top: 120px;*/
  position: relative;
}

.figure-left {
  display: flex; /* Imposta il contenitore come flex */
  justify-content: center; /* Centra orizzontalmente */
  align-items: center; /* Centra verticalmente */
}

#img-about {
  width: 250px; /* Larghezza fissa */
  height: 250px; /* Altezza fissa */
  border-radius: 50%; /* Questo rende l'immagine rotonda */
  -o-object-fit: cover;
     object-fit: cover; /* Assicura che l'immagine si adatti al contenitore senza distorsioni */
  overflow: hidden; /* Garantisce che l'immagine non esca dai bordi rotondi */
}

.container_about {
  border-bottom: solid 1px black;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

/*.figure-left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1e1e1e, #333);
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transform: scale(1);
  transition: transform 0.5s ease;

}*/
/*
.figure-left:hover {
  transform: scale(1.05);
}

.figure-left img {
  position: relative;
  max-width: 350px;
  height: auto;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.figure-left::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at top left, #79a8f8, #ff61a6);
  z-index: -1;
  animation: gradientMove 6s ease infinite;
}*/
.about-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.h2_about {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: clamp(20px, 4vw, 25px);
  color: #fff;
  position: relative;
  z-index: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: transform 0.3s ease;
  margin-bottom: 10px;
}

.h2_about::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #79a8f8;
  bottom: -10px;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.h2_about:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Card degli studi con hover */
.studies-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.study {
  /*background-color: #2a2a2a;*/
  border-radius: 12px;
  padding: 25px;
  flex: 1;
  min-width: 280px;
  /*border: 1px solid black;*/
  /*transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;*/
}

/*.study:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
  background: #79a8f8;
  color: #fff;
}*/
/*.study h3 {
  font-size: 1.3rem;
  margin-bottom: 8px;
  font-weight: 600;
}*/
.p_about {
  font-size: clamp(16px, 4vw, 19px);
  color: #bbb;
  text-align: justify;
  -webkit-hyphens: auto;
          hyphens: auto;
  line-height: 1.6;
  /* Giustifica il testo */
}

/* Aggiungere una leggera animazione ai link */
.additional-info a {
  color: #79a8f8;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.additional-info a:hover {
  color: #fff;
  text-decoration: underline;
}

/* Media query per schermi piccoli */
@media (max-width: 900px) {
  #about {
    grid-template-columns: 1fr;
  }
  .about-left {
    margin-bottom: 40px;
  }
  .studies-container {
    flex-direction: column;
  }
  .study {
    margin-bottom: 20px;
  }
}
@keyframes gradientMove {
  0% {
    background: radial-gradient(circle at top left, #79a8f8, #ff61a6);
  }
  50% {
    background: radial-gradient(circle at top left, #ff61a6, #79a8f8);
  }
  100% {
    background: radial-gradient(circle at top left, #79a8f8, #ff61a6);
  }
}
@media (max-width: 900px) {
  #about_1 {
    grid-template-columns: 1fr;
    /*padding: 40px 20px;*/
  }
  .about-left {
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  .about-left img {
    width: 80%;
    max-width: 280px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  .about-right {
    padding: 0 10px;
    align-items: flex-start;
    text-align: left;
  }
  .studies-container {
    flex-direction: column;
    align-items: stretch;
  }
  .study {
    margin-bottom: 20px;
    width: 100%;
  }
}
.about-container_21 {
  display: flex;
  justify-content: center;
  align-items: center;
  top: -131px;
  z-index: 10;
  position: relative;
}
.about-container_21 .about-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);*/
  position: relative;
  z-index: 10;
}

/*---=====container skills=====---*/
.section-skills {
  padding: 20px;
  background-color: #1c1c1c;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
}

.button-container {
  margin-bottom: 15px;
  text-align: center;
}

.skills-scrollable {
  max-height: 300px;
  overflow-y: auto;
  padding-right: 10px; /* spazio per scrollbar */
}

.skills-scrollable::-webkit-scrollbar {
  width: 8px;
}

.skills-scrollable::-webkit-scrollbar-thumb {
  background-color: #79a8f8;
  border-radius: 4px;
}

.skills-scrollable::-webkit-scrollbar-track {
  background: transparent;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.skills-left, .skills-right {
  flex: 1;
}

.skill {
  margin-bottom: 10px;
  color: #fff;
}

/*---=====Skills=====---*/
#skills {
  height: 0;
  padding: 0 20px;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  transition: height 0.5s ease;
}

.section-title {
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  color: #f1c40f;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.section-description {
  text-align: center;
  color: #cccccc;
  margin-bottom: 50px;
  font-size: 16px;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1100px;
  margin: 0 auto;
}

.skills-left, .skills-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.skill {
  display: flex;
  align-items: center;
  gap: 18px;
  background: #1e1e1e;
  padding: 18px 24px;
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  border-left: 4px solid transparent; /* Bordo sinistro inizialmente invisibile */
  cursor: pointer;
  transition: background 0.3s ease, border-left 0.5s ease, padding-left 0.5s ease; /* Transizione sul bordo sinistro e padding */
}

.skill i {
  font-size: 42px;
  color: #aaaaaa;
  transition: transform 0.3s ease;
}

.skill span {
  font-size: 19px;
  font-weight: 600;
  color: #eaeaea;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.skill:hover {
  background: #272727;
  border-left: 4px solid #f1c40f; /* Il bordo sinistro diventa visibile */
  padding-left: 30px; /* Allarga il contenitore a sinistra */
}

.skill:hover i {
  transform: none; /* Rimuovi l'ingrandimento dell'icona */
}

@media (max-width: 768px) {
  .skills-container {
    flex-direction: column;
    align-items: center;
  }
  .skills-left, .skills-right {
    width: 100%;
  }
  .skill {
    justify-content: center;
  }
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.show-skills-btn,
.close-skills-btn {
  background: #1a1a1a;
  color: #f1f1f1;
  padding: 16px 40px;
  border-radius: 50px;
  border: 2px solid #ffffff;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 0 0 10px rgba(241, 196, 15, 0.2);
}

.show-skills-btn::before,
.close-skills-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.2), transparent);
  transform: skewX(-20deg);
  transition: left 0.5s ease;
}

.show-skills-btn:hover::before,
.close-skills-btn:hover::before {
  left: 125%;
}

.show-skills-btn:hover,
.close-skills-btn:hover {
  background: #1a1a1a;
  color: #f1c40f;
  box-shadow: 0 0 15px rgba(250, 250, 250, 0.4);
}

.show-skills-btn span,
.close-skills-btn span {
  position: relative;
  z-index: 1;
}

.close-skills-btn {
  display: none;
}

/* Colori per le icone */
.skill i.fab.fa-html5 {
  color: #E44D26; /* HTML5 */
}

.skill i.fab.fa-css3-alt {
  color: #1572B6; /* CSS3 */
}

.skill i.fab.fa-js-square {
  color: #F7DF1E; /* JavaScript */
}

.skill i.fab.fa-bootstrap {
  color: #563D7C; /* Bootstrap */
}

.skill i.fab.fa-sass {
  color: #C69EE4; /* SCSS */
}

.skill i.fab.fa-next.js {
  color: #000000; /* Next.js */
}

.skill i.fab.fa-wordpress {
  color: #21759B; /* WordPress */
}

.skill i.fab.fa-react {
  color: #61DAFB; /* React */
}

.skill i.fas.fa-laptop-code {
  color: #cccccc; /* Media Queries */
}

.skill i.fab.fa-js-square {
  color: #88C700; /* GSAP */
}

.skill i.fab.fa-git-alt {
  color: #F1502F; /* Git */
}

.skill i.fab.fa-figma {
  color: #F24E1E; /* Figma */
}

/* =====================================Sezione Progetti============================================ */
#projects {
  background: linear-gradient(135deg, #1d1d1d, #2b2b2b);
  padding: 30px 20px;
  text-align: center;
  position: relative;
}

#h1-project {
  font-family: "Merriweather", serif;
  /*font-size: 2.8rem;*/
  font-weight: 700;
  color: transparent;
  background: rgba(231, 192, 107, 0.3);
  background-clip: text;
  -webkit-background-clip: text;
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.2;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.15);
  font-size: clamp(1.8rem, 4vw, 2.5rem);
}

.highlight {
  position: relative;
  display: inline-block;
  color: inherit;
}

.highlight::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  animation: slide 1s forwards;
}

@keyframes slide {
  to {
    left: 100%;
  }
}
/*---======Siti=====---*/
/*---Dante---*/
.logo-dante {
  width: 90%;
  height: auto;
}
.logo-dante .h3-dante {
  color: blue;
}

.img-dante {
  width: 100%;
  height: auto;
}

/*---=====Container project=====---*/
.scroll-wrapper {
  display: flex;
  z-index: 1;
  flex-direction: row;
  margin-top: 3rem; /* Distanza tra il contenuto sinistro e il contenitore dello scroll */
}

.scroll-container {
  border-right: 10px solid;
  -o-border-image: linear-gradient(to bottom, rgb(189, 188, 188), rgb(0, 0, 0), rgb(172, 172, 172)) 1;
     border-image: linear-gradient(to bottom, rgb(189, 188, 188), rgb(0, 0, 0), rgb(172, 172, 172)) 1;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 1rem 0;
  /*cursor: grab;*/
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
}

.scroll-container:active {
  cursor: grabbing;
}

.card {
  flex: 0 0 auto;
  width: 50%;
  max-width: 200px;
  background: linear-gradient(to bottom right, #1a1a1a, #222);
  border-radius: 20px;
  padding: 1.2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform-style: preserve-3d;
  margin-right: 10px;
  margin-left: 20px;
}
.card .p-cont21 {
  color: white;
}

.card_1 {
  border-radius: 0px;
  width: 20%;
  flex: 0 0 auto;
  width: 50%;
  max-width: 250px;
  background: linear-gradient(to bottom right, #1a1a1a, #222);
  border-radius: 20px;
  padding: 1.2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform-style: preserve-3d;
  margin-right: 10px;
}

#h2-cont21 {
  color: white;
}

.card:hover {
  transform: scale(1.04) rotateY(3deg);
}

.card h2, .card h3 {
  color: white;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  text-align: center;
}

.card p {
  color: #ccc;
  font-size: 0.9rem;
  text-align: center;
}

.author {
  font-weight: bold;
  color: #ffd36d;
  text-align: center;
}

.highlight {
  border: 3px solid;
  -o-border-image: linear-gradient(to bottom, rgb(189, 188, 188), rgb(0, 0, 0), rgb(172, 172, 172)) 1;
     border-image: linear-gradient(to bottom, rgb(189, 188, 188), rgb(0, 0, 0), rgb(172, 172, 172)) 1;
}

/* Nasconde scrollbar */
.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-container {
  scrollbar-width: none;
}

@media (max-width: 768px) {
  #projects {
    padding: 60px 15px;
  }
  #projects h2 {
    font-size: 2rem;
    margin-bottom: 40px;
  }
  .title-bg {
    font-size: 12vw;
    bottom: -40px;
    left: -100px;
  }
  .scroll-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 30px;
  }
  .scroll-container {
    flex-direction: row;
    overflow-x: scroll;
    gap: 1.5rem;
    padding: 8px;
    width: 99%;
    height: auto;
  }
  .card {
    width: 50%;
    height: 180px;
    margin: 0 auto;
  }
  .card_1 {
    width: 90%;
    max-width: 100%;
    margin: 0;
  }
  .card h2,
  .card h3 {
    font-size: 1rem;
  }
  .card p {
    font-size: 0.85rem;
  }
}
@media (max-width: 480px) {
  #projects h2 {
    font-size: 1.7rem;
  }
  .title-bg {
    font-size: 14vw;
    bottom: -57px;
    left: -20px;
  }
  .card p {
    font-size: 0.8rem;
  }
}
/* =====================================Sezione Contatti=============================================== */
#contact {
  padding: 30px 20px;
  background: linear-gradient(135deg, #1d1d1d, #2b2b2b);
  text-align: center;
  position: relative;
  z-index: 1;
}

.additional-elements {
  margin-bottom: 60px;
  text-align: center;
  color: #fff;
  animation: fadeIn 1.5s ease-out;
}

#h1-contact {
  font-family: "Merriweather", serif;
  font-weight: 700;
  color: transparent;
  background: rgba(231, 192, 107, 0.3);
  background-clip: text;
  -webkit-background-clip: text;
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.2;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.15);
  font-size: clamp(1.8rem, 4vw, 2.5rem);
}

.p-tutti {
  font-family: "Merriweather", serif;
  color: #ffffff;
  line-height: 1.8;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  word-wrap: break-word;
  font-size: 15px;
}

/* Separatore visivo */
.separator {
  width: 100%;
  height: 2px;
  background: #333;
  margin: 50px auto;
  opacity: 0.7;
}

.cta-button {
  font-size: 1.2rem;
  background: linear-gradient(145deg, #1c1c1c, #3a3a3a);
  color: #fff;
  border-radius: 30px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
  background-size: 200% 200%;
  background-position: center;
  width: 30%;
  height: 60px;
}

.cta-button:hover {
  background-position: right center;
  box-shadow: 0 8px 25px rgba(255, 255, 255, 0.3);
  transform: translateY(-3px);
}

.contact-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  animation: fadeIn 1.2s ease-out;
}

.contact-card {
  background: #333;
  border-radius: 15px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 320px;
  height: auto;
  position: relative;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-align: center;
  overflow: hidden;
}
.contact-card .h3-contact {
  font-size: 1.7rem;
  margin-bottom: 10px;
  font-weight: 600;
}
.contact-card .p-contact {
  font-size: 1.1rem;
  margin-bottom: 20px;
}
.contact-card .i-contact-icon {
  font-size: 2rem;
  color: #000000;
  /*margin-bottom: 20px;*/
  transition: color 0.3s ease-in-out;
}

.contact-card:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}

.contact-card:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  background: linear-gradient(135deg, #4d4d4d, #1c1c1c);
  border-radius: 15px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.contact-card:hover:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.contact-card:hover .i-contact-icon {
  color: #fff;
}

/*---=====sfere animate=====---*/
.sphere-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  pointer-events: none;
}

.sphere {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(100, 100, 100, 0.7); /* Grigio scuro traslucido */
  animation: moveSphere 6s infinite ease-in-out;
}

.sphere:nth-child(1) {
  width: 100px;
  height: 100px;
  animation-duration: 5s;
  animation-delay: 1s;
}

.sphere:nth-child(2) {
  width: 120px;
  height: 120px;
  animation-duration: 7s;
  animation-delay: 2s;
}

.sphere:nth-child(3) {
  width: 150px;
  height: 150px;
  animation-duration: 8s;
  animation-delay: 3s;
}

/* Animazione delle sfere */
@keyframes moveSphere {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(300px, 100px) scale(1.2);
  }
  50% {
    transform: translate(500px, 300px) scale(1);
  }
  75% {
    transform: translate(700px, 100px) scale(1.5);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
/* Media Queries */
@media (max-width: 768px) {
  .contact-container {
    gap: 20px; /* Ridurre il gap per schermi più piccoli */
  }
  .contact-card {
    width: 280px; /* Ridurre la larghezza per dispositivi mobili */
    height: auto; /* Permettere l'altezza automatica */
  }
  #contact h2 {
    font-size: 2.5rem; /* Ridurre la dimensione del testo per dispositivi più piccoli */
  }
  .additional-elements h3 {
    font-size: 1.6rem;
  }
  .additional-elements p {
    font-size: 1rem;
  }
}
/* Media Queries */
@media (max-width: 768px) {
  .project-card {
    /*width: 45%;*/
    margin: 10px;
  }
  #projects h2 {
    font-size: 2rem;
  }
  /* #home h1 {
       font-size: 2.5rem;
   }*/
  #home p {
    font-size: 1rem;
    margin-top: 10px;
  }
  #about .content {
    flex-direction: column;
    align-items: center;
  }
  .skills {
    /*grid-template-columns: 1fr;*/
    gap: 20px;
  }
  .skill-bar {
    width: 90%;
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=index.css.map */